# Copyright (c) 2024, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.2.1
    hooks:
      - id: verify-alpha-spec
        args:
          - --fix
          - --mode
          - release
      - id: verify-copyright
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
default_language_version:
  python: python3
