name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - telemetry-setup
      - checks
      - docs-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-25.04
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
        OTEL_SERVICE_NAME: "pr-cugraph-docs"
    steps:
      - name: Telemetry setup
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  checks:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-25.04
    with:
      enable_check_generated_files: false
      ignored_pr_jobs: "telemetry-summarize"
  docs-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-25.04
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/build_docs.sh"
  telemetry-summarize:
    runs-on: ubuntu-latest
    needs: pr-builder
    if: always()
    continue-on-error: true
    steps:
      - name: Load stashed telemetry env vars
        uses: rapidsai/shared-actions/telemetry-dispatch-load-base-env-vars@main
        with:
            load_service_name: true
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-write-summary@main
        with:
          cert_concat: "${{ secrets.OTEL_EXPORTER_OTLP_CA_CERTIFICATE }};${{ secrets.OTEL_EXPORTER_OTLP_CLIENT_CERTIFICATE }};${{ secrets.OTEL_EXPORTER_OTLP_CLIENT_KEY }}"
